.header {
    grid-area: h;
    background-color:lightslategrey;
    position: relative;
}

.header img {
    width: 100px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: xx-large;
    font-style: italic;
    color: lightblue;
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%)    
}
.loginBlock{
    font-style: italic;
    color: lightblue;
    float: right;
    margin: 30px;
}
.login{
    font-size: x-large;
}
