.header {
    grid-area: h;
    background-color:lightslategrey;
    position: relative;
}

.header img {
    width: 100px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: xx-large;
    font-style: italic;
    color: lightblue;
    margin-left: 10px;
    position: absolute;               

}
.loginBlock{
    font-style: italic;
    color: lightblue;
    float: right;
    margin-right: 30px;
}
.login{
    font-size: x-large;
}
