.descriptionBlock {
    padding: 10px;
}
img{
    width: 600px;
}
.avatar{
    width: 350px;
    border-radius: 50%;
}
.profileName{
    font-size: xx-large;
    font-style: italic;
    color: blue;
}
.status{
    margin-bottom: 20px;
}
.contact{
    margin-left: 10px;
}
.editBTN{
    margin-top: 10px;
}
.formSummaryError{
    padding: 5px;
    color: red;
}