@import 'antd/dist/antd.css';

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 100px ;
    grid-template-columns: 2fr 10fr ;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #ddd;
    color: black;
    border-radius: 1%;
}
button{
    background-color: blueviolet;
    height: 30px;
    width: 80px;
}

